<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">"당신에게 쏟아내는 강렬한 자유의 선율"</h2>
                <hr class="light">
                <p class="text-faded">
				클라리넷은 독보적이고 매력적인 클래식한 음색을 가진 관악기로써
				<br>영화, 애니메이션, 오케스트라 등 많은 곳에서 우리에게 익숙한 악기입니다.
				<br><br>하지만 재즈에서 클라리넷은?<br>
				<br>어려운 핑거링과 높은 압력의 호흡을 요구하는 탓에 재즈에서는 쉽게 접하기 어려우실겁니다.
				<br>전세계적으로도 희귀한 재즈 클라리넷의 아름다운 선율을 Lukku Kim Jazz band에서 느껴보세요.<br>
				
				<br>Lukku Kim Jazz Band는
				<br>폭넓은 감성과 풍부한 성량을 지닌 클라리네티스트 Lukku Kim을 중심으로
				<br>담백한 라인으로 팀을 받쳐주는 베이스 플레이어 Kopt,
				<br>감미로운 프레이즈을 노래하듯 연주하는 기타리스트 임호빈,
				<br>자유자재로 리듬을 구사하는 젊은 피의 드러머 손성민이 모인 4인조 재즈 밴드입니다.
				<br>
				<br>우리가 쏟아내는 자유의 선율에 몸을 맡겨보세요.
				</p>
				<a href="#contact" class="btn btn-default btn-xl">Feel Free to Contact us</a>
            </div>
        </div>
    </div>
</section>