<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">"모두가 즐길 수 있는 재즈"</h2>
                <hr class="light">
                <p class="text-faded">
				Lukku Kim Jazz Band는 스탠다드 재즈와 입체적인 재지 펑크 튠을 주로 연주합니다.
				<br>그러면서도 관객이 쉽고 친숙하게 우리의 음악에 다가올 수 있도록  
				<br>재즈 스타일로 편곡된 우리만의 유니크한 팝 또한 준비되어 있습니다.
				<br>
				<br>모두가 즐길 수 있는 재즈를 추구합니다.
				</p>
				<a href="#contact" class="btn btn-default btn-xl" >Feel Free to Contact us</a>
            </div>
        </div>
    </div>
</section>