<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>클럽&무대 공연, 야외 버스킹, 페스티벌, 재즈 웨딩연주 등 모든 연주 기회를 환영합니다. </br> Instagram DM / E-mail 모두 확인합니다. </p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://instagram.com/lukku_kim/">
                <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:yallabi@naver.com?bcc=koptimizer@korea.ac.kr">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
		<div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.youtube.com/@LukkuKimJazzQuartet">
            <i class="fa fa-youtube fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
    </div>
</section>
