<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
		
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=XwzJdMdv99k" class="portfolio-box" style="text-align:center">
                    <img src="https://i.ytimg.com/vi/qDD-FcWiyqw/hqdefault.jpg?sqp=-oaymwE2CPYBEIoBSFXyq4qpAygIARUAAIhCGAFwAcABBvABAfgB_gmAAtAFigIMCAAQARhlIE0oQzAP&rs=AOn4CLBdAqwediCFMiAjNIXKFpfP4z0RVQ" class="img-responsive" alt="" width='100%' height='auto'>
                    24.04.30., 밤양갱 (Solo, Short)<br>in Alvin Avenue<br>Click to watching into Youtube 
					<div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                24.04.30., Alvin Avenue
                            </div>
                            <div class="project-name">
                                밤양갱 (Solo)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
			
			<div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=9VJBYVZch3k" class="portfolio-box" style="text-align:center">
                    <img src="https://i.ytimg.com/vi/gdZAJ84DfGk/hqdefault.jpg?sqp=-oaymwE2CPYBEIoBSFXyq4qpAygIARUAAIhCGAFwAcABBvABAfgB_gmAAtAFigIMCAAQARhlIE4oRDAP&rs=AOn4CLD2NfSxzH0ukBYKYjxYBMA0C0PAiQ" class="img-responsive" alt=""width='100%' height='auto'>
                    24.04.30., Take the A train (Head and Solo)<br>in Alvin Avenue<br>Click to watching into Youtube 
					<div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                24.04.30., Alvin Avenue
                            </div>
                            <div class="project-name">
                                Take the A train (Head and Solo)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
			
			<div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=_kUtrWgm3vY" class="portfolio-box" style="text-align:center">
                    <img src="https://i.ytimg.com/vi/_kUtrWgm3vY/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCRN2BTaRJQbSfLb7PAcgEVHbNk5w" class="img-responsive" alt=""width='100%' height='auto'>
                    24.06.08., So Pretty <br>in Hill House<br>Click to watching into Youtube 
					<div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                24.06.08., Hill House
                            </div>
                            <div class="project-name">
                                So Pretty
                            </div>
                        </div>
                    </div>
                </a>
            </div>
			
			<div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=dvErj3vLX0o" class="portfolio-box" style="text-align:center">
                    <img src="https://i.ytimg.com/vi/dvErj3vLX0o/hqdefault.jpg?sqp=-oaymwE2CNACELwBSFXyq4qpAygIARUAAIhCGAFwAcABBvABAfgB_gmAAtAFigIMCAAQARhlIFsoRzAP&rs=AOn4CLDzFsZ5qQc09oOTn0nfhdGZRWO8PQ" class="img-responsive" alt=""width='100%' height='auto'>
                    24.06.13., On the sunny side of the street <br>in La Cle<br>Click to watching into Youtube 
					<div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                24.06.13., La Cle
                            </div>
                            <div class="project-name">
                                On the sunny side of the street
                            </div>
                        </div>
                    </div>
                </a>
            </div>
			
			<div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=gkvvHShvcYc" class="portfolio-box" style="text-align:center">
                    <img src="https://i.ytimg.com/vi/gkvvHShvcYc/hqdefault.jpg?sqp=-oaymwE2CNACELwBSFXyq4qpAygIARUAAIhCGAFwAcABBvABAfgB_gmAAtAFigIMCAAQARh_IBMoPDAP&rs=AOn4CLCiJ_xOQMyV-GUYL-uk9CRRtB-BKg" class="img-responsive" alt=""width='100%' height='auto'>
                    24.06.18., Cute <br>in JAZZXOVER<br>Click to watching into Youtube 
					<div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                24.06.18., JAZZXOVER
                            </div>
                            <div class="project-name">
                                Cute
                            </div>
                        </div>
                    </div>
                </a>
            </div>
			
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=Hc43kBBstSQ" class="portfolio-box" style="text-align:center">
                    <img src="https://i.ytimg.com/vi/Hc43kBBstSQ/hqdefault.jpg?sqp=-oaymwE2CNACELwBSFXyq4qpAygIARUAAIhCGAFwAcABBvABAfgBgAWAAuADigIMCAAQARh_IBMoPjAP&rs=AOn4CLDIg7XaRijW5D0WJZWWfdSLwdM50w" class="img-responsive" alt=""width='100%' height='auto'>
                    24.06.18., Caravan (Drum Solo)<br>in JAZZXOVER<br>Click to watching into Youtube 
					<div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                24.06.18., JAZZXOVER
                            </div>
                            <div class="project-name">
                                Caravan (Drum Solo)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            			
        </div>
    </div>
</section>
