<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
		
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=XwzJdMdv99k" class="portfolio-box" style="text-align:center">
                    <img src="https://i.ytimg.com/vi/qDD-FcWiyqw/hqdefault.jpg?sqp=-oaymwE2CPYBEIoBSFXyq4qpAygIARUAAIhCGAFwAcABBvABAfgB_gmAAtAFigIMCAAQARhlIE0oQzAP&rs=AOn4CLBdAqwediCFMiAjNIXKFpfP4z0RVQ" class="img-responsive" alt="" width='100%' height='auto'>
                    24.04.30., 밤양갱 (Solo, Short)<br>in Alvin Avenue<br>Click to watching into Youtube 
					<div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                24.04.30., Alvin Avenue
                            </div>
                            <div class="project-name">
                                밤양갱 (Solo)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
			
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=ciBE9sP_fpc" class="portfolio-box" style="text-align:center">
                    <img src="https://i.ytimg.com/vi/ciBE9sP_fpc/hqdefault.jpg?sqp=-oaymwE2CPYBEIoBSFXyq4qpAygIARUAAIhCGAFwAcABBvABAfgBlAiAAtAFigIMCAAQARh_IEEoKTAP&rs=AOn4CLAcqNuOyftlC1VohyDNO9YBQrpJ3g" class="img-responsive" alt=""width='100%' height='auto'>
                    24.04.30., Caravan (Solo Trade)<br>in Alvin Avenue<br>Click to watching into Youtube 
					<div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                24.04.30., Alvin Avenue
                            </div>
                            <div class="project-name">
                                Caravan (Solo Trade)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
			<div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=9VJBYVZch3k" class="portfolio-box" style="text-align:center">
                    <img src="https://i.ytimg.com/vi/gdZAJ84DfGk/hqdefault.jpg?sqp=-oaymwE2CPYBEIoBSFXyq4qpAygIARUAAIhCGAFwAcABBvABAfgB_gmAAtAFigIMCAAQARhlIE4oRDAP&rs=AOn4CLD2NfSxzH0ukBYKYjxYBMA0C0PAiQ" class="img-responsive" alt=""width='100%' height='auto'>
                    24.04.30., Take the A train (Head and Solo)<br>in Alvin Avenue<br>Click to watching into Youtube 
					<div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                24.04.30., Alvin Avenue
                            </div>
                            <div class="project-name">
                                Take the A train (Head and Solo)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
			
        </div>
    </div>
</section>
