<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter" style="display:flex;flex-wrap:wrap;justify-content:center;">
            <div class="col-lg-4 col-sm-6" style='display:inline'>
                <a href="https://www.youtube.com/watch?v=KsKOA9uT64g" class="portfolio-box" style="text-align:center;max-width:100%">
                    <img src="https://i.ytimg.com/vi/KsKOA9uT64g/hqdefault.jpg?sqp=-oaymwE2CNACELwBSFXyq4qpAygIARUAAIhCGAFwAcABBvABAfgB2gKAAuADigIMCAAQARhyIDUobTAP&rs=AOn4CLCHGlqQzszkyV6-z42xZNI2oW20fg" class="img-responsive" alt="" width='100%' height='auto' style="display:inline;">
                    24.01.26., Misty w/ 조희영(Vo)<br>in Alvin Avenue<br>Click to watching into Youtube 
					<div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                24.01.26., Alvin Avenue
                            </div>
                            <div class="project-name">
                                Misty
                            </div>
                        </div>
                    </div>
                </a>
            </div>
			<div class="col-lg-4 col-sm-6" style='display:inline'>
                <a href="https://www.youtube.com/watch?v=Cwp4raJnaZY" class="portfolio-box" style="text-align:center;max-width:100%">
                    <img src="https://i.ytimg.com/vi/Cwp4raJnaZY/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDRTUpXaW1luuMQg2D1LnubEjAWuQ" class="img-responsive" alt=""width='100%' height='auto' style="display:inline;">
                    24.07.09., Destination Moon w/ 권한나(Vo)<br>in La Cle<br>Click to watching into Youtube 
					<div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                24.07.09., La Cle
                            </div>
                            <div class="project-name">
                                Destination Moon
                            </div>
                        </div>
                    </div>
                </a>
            </div>
			<div class="col-lg-4 col-sm-6" style='display:inline'>
                <a href="https://www.youtube.com/watch?v=_kUtrWgm3vY" class="portfolio-box" style="text-align:center;max-width:100%">
                    <img src="https://i.ytimg.com/vi/_kUtrWgm3vY/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCRN2BTaRJQbSfLb7PAcgEVHbNk5w" class="img-responsive" alt=""width='100%' height='auto' style="display:inline;">
                    24.06.08., So pretty w/ 김민기(Pf) <br>in Hill House Coffee & Barbecue<br>Click to watching into Youtube 
					<div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                24.06.08., Hill House Coffee & Barbecue
                            </div>
                            <div class="project-name">
                                So pretty
                            </div>
                        </div>
                    </div>
                </a>
            </div>
			<div class="col-lg-4 col-sm-6" style='display:inline'>
                <a href="https://www.youtube.com/watch?v=hlS9aelSF0U" class="portfolio-box" style="text-align:center;max-width:100%">
                    <img src="https://i.ytimg.com/vi/hlS9aelSF0U/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDSQdHxx4V2VIUu6Nolp5quOMEuwg" class="img-responsive" alt=""width='100%' height='auto' style="display:inline;">
                    24.07.14., I'm not the only one w/ 권한나(Vo)<br>in Orient Express Wine<br>Click to watching into Youtube 
					<div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                24.07.14., Orient Express Wine
                            </div>
                            <div class="project-name">
                                I'm not the only one
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

