<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
		
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=XwzJdMdv99k" class="portfolio-box">
                    <img src="https://i.ytimg.com/vi/qDD-FcWiyqw/hqdefault.jpg?sqp=-oaymwE2CPYBEIoBSFXyq4qpAygIARUAAIhCGAFwAcABBvABAfgB_gmAAtAFigIMCAAQARhlIE0oQzAP&rs=AOn4CLBdAqwediCFMiAjNIXKFpfP4z0RVQ" class="img-responsive" alt="" width='100%' height='auto'>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                24.04.30., Alvin Avenue
                            </div>
                            <div class="project-name">
                                밤양갱 (Solo)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=ciBE9sP_fpc" class="portfolio-box">
                    <img src="https://i.ytimg.com/vi/ciBE9sP_fpc/hqdefault.jpg?sqp=-oaymwE2CPYBEIoBSFXyq4qpAygIARUAAIhCGAFwAcABBvABAfgBlAiAAtAFigIMCAAQARh_IEEoKTAP&rs=AOn4CLAcqNuOyftlC1VohyDNO9YBQrpJ3g" class="img-responsive" alt=""width='100%' height='auto'>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                24.04.30., Alvin Avenue
                            </div>
                            <div class="project-name">
                                Caravan (Solo Trade)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
</section>
