<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter" style="display:flex;flex-wrap:wrap;justify-content:center;">
            <div class="col-lg-4 col-sm-6" style='display:inline'>
                <a href="https://www.youtube.com/watch?v=fHdlFpfquoI" class="portfolio-box" style="text-align:center;max-width:100%">
                    <img src="https://i.ytimg.com/vi/fHdlFpfquoI/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLB1uCGOhMb0cP5kNuEhAL-0vRHMcA" class="img-responsive" alt="" width='100%' height='auto' style="display:inline;">
                    24.07.09., Under the sea<br>in Chungdam Nine<br>Click to watching into Youtube 
					<div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                24.07.09., Chungdam Nine
                            </div>
                            <div class="project-name">
                                Under the sea
                            </div>
                        </div>
                    </div>
                </a>
            </div>
			<div class="col-lg-4 col-sm-6" style='display:inline'>
                <a href="https://www.youtube.com/watch?v=YZuePFPxI38" class="portfolio-box" style="text-align:center;max-width:100%">
                    <img src="https://i.ytimg.com/vi/YZuePFPxI38/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLA3DMQARQ7w_IBpSYUFb4KzURdsDQ" class="img-responsive" alt=""width='100%' height='auto' style="display:inline;">
                    24.06.21., 밤양갱<br>in Belgium Jazz Cafe (The Show Seoul)<br>Click to watching into Youtube 
					<div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                24.06.21., Belgium Jazz Cafe (The Show Seoul)
                            </div>
                            <div class="project-name">
                                밤양갱
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6" style='display:inline'>
                <a href="https://www.youtube.com/watch?v=nqmXsT8g6AA" class="portfolio-box" style="text-align:center;max-width:100%">
                    <img src="https://i.ytimg.com/vi/nqmXsT8g6AA/hqdefault.jpg?sqp=-oaymwE2CNACELwBSFXyq4qpAygIARUAAIhCGAFwAcABBvABAfgB_gmAAtAFigIMCAAQARhlIEooPjAP&rs=AOn4CLBWTtMt-OxIgCnYsAL9pnqS65r-tw" class="img-responsive" alt=""width='100%' height='auto' style="display:inline;">
                    24.04.30., Just the two of us<br>in Alvin Avenue<br>Click to watching into Youtube 
					<div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                24.04.30., Alvin Avenue
                            </div>
                            <div class="project-name">
                                Just the two of us
                            </div>
                        </div>
                    </div>
                </a>
            </div>
			<div class="col-lg-4 col-sm-6" style='display:inline'>
                <a href="https://www.youtube.com/watch?v=xHijn_nyV3M" class="portfolio-box" style="text-align:center;max-width:100%">
                    <img src="https://i.ytimg.com/vi/xHijn_nyV3M/hqdefault.jpg?sqp=-oaymwE2CNACELwBSFXyq4qpAygIARUAAIhCGAFwAcABBvABAfgB_gmAApIFigIMCAAQARhZIGUoQzAP&rs=AOn4CLD19bP7ZnrHG55p-tuSHTXSDCK-SQ" class="img-responsive" alt=""width='100%' height='auto' style="display:inline;">
                    24.06.21., I'm not the only one (Shorts)<br>in Hyundai Dept.<br>Click to watching into Youtube 
					<div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                24.06.21., Hyundai Dept.
                            </div>
                            <div class="project-name">
                                I'm not the only one (Shorts)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

