<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter" style="display:flex;flex-wrap:wrap;justify-content:center;">
			<div class="col-lg-4 col-sm-6" style='display:inline'>
                <a href="https://www.youtube.com/watch?v=v6glaCCSCAk" class="portfolio-box" style="text-align:center;max-width:100%">
                    <img src="https://i.ytimg.com/vi/v6glaCCSCAk/hqdefault.jpg?sqp=-oaymwE2CNACELwBSFXyq4qpAygIARUAAIhCGAFwAcABBvABAfgB_gmAAtAFigIMCAAQARhyIEYoPjAP&rs=AOn4CLDQAACqRxIEdsy8o--bCzIXApsutA" class="img-responsive" alt=""width='100%' height='auto' style="display:inline;">
                    24.04.30., Wave<br>in Alvin Avenue<br>Click to watching into Youtube 
					<div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                24.04.30., Alvin Avenue
                            </div>
                            <div class="project-name">
                                Wave
                            </div>
                        </div>
                    </div>
                </a>
            </div>
			<div class="col-lg-4 col-sm-6" style='display:inline'>
                <a href="https://www.youtube.com/watch?v=tl6DnhHpTfA" class="portfolio-box" style="text-align:center;max-width:100%">
                    <img src="https://i.ytimg.com/vi/tl6DnhHpTfA/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLD_oScPlqshVoBxOLvKjwtIL5DgdA" class="img-responsive" alt=""width='100%' height='auto' style="display:inline;">
                    24.07.09., Take the A' train<br>in Chungdam Nine<br>Click to watching into Youtube 
					<div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                24.07.09., Chungdam Nine
                            </div>
                            <div class="project-name">
                                Take the A' train
                            </div>
                        </div>
                    </div>
                </a>
            </div>
			<div class="col-lg-4 col-sm-6" style='display:inline'>
                <a href="https://www.youtube.com/watch?v=dvErj3vLX0o" class="portfolio-box" style="text-align:center;max-width:100%">
                    <img src="https://i.ytimg.com/vi/dvErj3vLX0o/hqdefault.jpg?sqp=-oaymwE2CNACELwBSFXyq4qpAygIARUAAIhCGAFwAcABBvABAfgB_gmAAtAFigIMCAAQARhlIFsoRzAP&rs=AOn4CLDzFsZ5qQc09oOTn0nfhdGZRWO8PQ" class="img-responsive" alt=""width='100%' height='auto' style="display:inline;">
                    24.06.13., On the sunny side of the street<br>in La Cle<br>Click to watching into Youtube 
					<div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                24.06.13., La Cle
                            </div>
                            <div class="project-name">
                                On the sunny side of the street
                            </div>
                        </div>
                    </div>
                </a>
            </div>
			<div class="col-lg-4 col-sm-6" style='display:inline'>
                <a href="https://www.youtube.com/watch?v=pi11U4CK99k" class="portfolio-box" style="text-align:center;max-width:100%">
                    <img src="https://i.ytimg.com/vi/pi11U4CK99k/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLA_0bk1t4CXvXr3GgsHUVgIUschYA" class="img-responsive" alt=""width='100%' height='auto' style="display:inline;">
                    24.06.21., Take five<br>in Belgium Jazz Cafe (The Show Seoul)<br>Click to watching into Youtube 
					<div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                24.06.20., Belgium Jazz Cafe (The Show Seoul)
                            </div>
                            <div class="project-name">
                                Take five
                            </div>
                        </div>
                    </div>
                </a>
            </div>
			<div class="col-lg-4 col-sm-6" style='display:inline'>
                <a href="https://www.youtube.com/watch?v=GgF4R8iamL4" class="portfolio-box" style="text-align:center;max-width:100%">
                    <img src="https://i.ytimg.com/vi/GgF4R8iamL4/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLD8S_9cQ6s6i6iFbOabootc71EekQ" class="img-responsive" alt=""width='100%' height='auto' style="display:inline;">
                    24.07.09., Caravan<br>in Chungdam Nine<br>Click to watching into Youtube 
					<div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                24.07.09., Chungdam Nine
                            </div>
                            <div class="project-name">
                                Caravan
                            </div>
                        </div>
                    </div>
                </a>
            </div>
			<div class="col-lg-4 col-sm-6" style='display:inline'>
                <a href="https://www.youtube.com/watch?v=lDgR_9_2glM" class="portfolio-box" style="text-align:center;max-width:100%">
                    <img src="https://i.ytimg.com/vi/lDgR_9_2glM/hqdefault.jpg?sqp=-oaymwE2CNACELwBSFXyq4qpAygIARUAAIhCGAFwAcABBvABAfgBjAmAAtAFigIMCAAQARhlIFUoQDAP&rs=AOn4CLAnhm1TxNf-FPSchuWKeIVtthrA4A" class="img-responsive" alt=""width='100%' height='auto' style="display:inline;">
                    24.06.07., Cute<br>in Alvin Avenue<br>Click to watching into Youtube 
					<div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                24.06.07., Alvin Avenue
                            </div>
                            <div class="project-name">
                                Cute
                            </div>
                        </div>
                    </div>
                </a>
            </div>
			<div class="col-lg-4 col-sm-6" style='display:inline'>
                <a href="https://www.youtube.com/watch?v=cHNb7GuWopA" class="portfolio-box" style="text-align:center;max-width:100%">
                    <img src="https://i.ytimg.com/vi/cHNb7GuWopA/hqdefault.jpg?sqp=-oaymwE2CNACELwBSFXyq4qpAygIARUAAIhCGAFwAcABBvABAfgB_gmAAtAFigIMCAAQARh_IBMoPTAP&rs=AOn4CLC7OJGFPd5wD1czYyWGW38Cd7Gzlw" class="img-responsive" alt=""width='100%' height='auto' style="display:inline;">
                    24.06.16., There will never be another you<br>in JAZZXOVER<br>Click to watching into Youtube 
					<div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                24.06.16., JAZZXOVER
                            </div>
                            <div class="project-name">
                                There will never be another you
                            </div>
                        </div>
                    </div>
                </a>
            </div>
			<div class="col-lg-4 col-sm-6" style='display:inline'>
                <a href="https://www.youtube.com/watch?v=rlJ2gqR6Tgs" class="portfolio-box" style="text-align:center;max-width:100%">
                    <img src="https://i.ytimg.com/vi/rlJ2gqR6Tgs/hqdefault.jpg?sqp=-oaymwE2CNACELwBSFXyq4qpAygIARUAAIhCGAFwAcABBvABAfgB_gmAAtAFigIMCAAQARhlIFsoSDAP&rs=AOn4CLBjsaiyD3MUGGSsPQJmciarzZ2Pxw" class="img-responsive" alt=""width='100%' height='auto' style="display:inline;">
                    24.06.13., St. Paul<br>in La Cle<br>Click to watching into Youtube 
					<div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                24.06.13., La Cle
                            </div>
                            <div class="project-name">
                                St. Paul
                            </div>
                        </div>
                    </div>
                </a>
            </div>
			
        </div>
    </div>
</section>

